In [10]:
## helpful packages
import pandas as pd
import numpy as np
import random
import re
import os

## repeated printouts
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [12]:
df = pd.read_csv("final_proj_data/Raw_Tweets.csv")

In [14]:
df

,Unnamed: 0,tweetid,userid,date,lang,text,tweet_type,friends_count,followers_count,statuses_count,mentionid,rt_userid,rt_tweetid,qtd_userid,qtd_text,qtd_tweetid
0,12221,1221208309728006145,418859255,Sat Jan 25 23:08:44 +0000 2020,en,"RT @DepSecHargan: Every year in the US, 34,800...",retweeted_tweet_without_comment,638,1837,17778,[920035992073064450],9.200360e+17,1.221208e+18,NaN,NaN,NaN
1,28315,1221213073652043776,14499829,Sat Jan 25 23:27:40 +0000 2020,en,WHO’s risk assessment of the new #coronavirus ...,original,1743,5196950,46697,[],NaN,NaN,NaN,NaN,NaN
2,6092,1222281847163576321,1135486501,Tue Jan 28 22:14:35 +0000 2020,en,#FYI: 50 million are under travel restrictions...,original,950,27025,11145,[9624742],NaN,NaN,NaN,NaN,NaN
3,13618,1222289121118511104,117793973,Tue Jan 28 22:43:30 +0000 2020,en,What should I do if I have traveled to China a...,original,1236,5860,4578,[],NaN,NaN,NaN,NaN,NaN
4,19205,1222285279047843843,1465196934,Tue Jan 28 22:28:14 +0000 2020,en,Disease outbreaks can result in misinformation...,original,1946,3581,4636,[],NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59882,116861,1320011868228997124,29201047,Sat Oct 24 14:38:48 +0000 2020,en,We’re moving in the wrong direction &amp; ther...,original,1009,488682,12147,[],NaN,NaN,NaN,NaN,NaN
59883,118583,1320012011967815680,2353731720,Sat Oct 24 14:39:22 +0000 2020,en,".@WV_DHHR reports as of 10:00 a.m., October 24...",original,307,5898,8093,[2353731720],NaN,NaN,NaN,NaN,NaN
59884,159427,1320015434972909568,18909919,Sat Oct 24 14:52:59 +0000 2020,en,We must tackle this pandemic together. We can ...,original,4595,27281,12771,[],NaN,NaN,NaN,NaN,NaN
59885,159487,1320015440249225218,44783853,Sat Oct 24 14:53:00 +0000 2020,en,RT @CDCgov: Today is a good day to talk with y...,retweeted_tweet_without_comment,396,1013652,22511,[146569971],1.465700e+08,1.318949e+18,NaN,NaN,NaN
59886,166622,1320016039103598592,3218464527,Sat Oct 24 14:55:23 +0000 2020,en,RT @PennsylvaniaGov: Today is Drug #TakeBackDa...,retweeted_tweet_without_comment,953,65927,14938,[3762413663],3.762414e+09,1.319987e+18,NaN,NaN,NaN